<a href="https://colab.research.google.com/github/Svar7769/periodic_review_inventory_system/blob/master/RL_inv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AttributeError: 'DataFrame' object has no attribute 'append'

In [18]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Parameters
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)
lead_time = 2  # Lead time for order arrival
initial_inventory = 100
max_order = 50
review_period = 7

# Generate dates
dates = pd.date_range(start=start_date, end=end_date, freq='D')

# Create list to store data
data_list = []

# Initialize inventory and order arrival time
inventory_level = initial_inventory
order_arrival_time = 0
order_quantity = 0  # Define order_quantity outside of the loop

for date in dates:
    # Simulate demand
    demand = np.random.randint(0, 20)  # Random demand between 0 and 19

    # Place order if it's a review period
    if date.day % review_period == 0:
        order_quantity = np.random.randint(0, max_order + 1)  # Random order quantity between 0 and max_order
        order_arrival_time = lead_time

    # Update inventory level based on demand and order arrival
    inventory_level = max(inventory_level + order_arrival_time - demand, 0)

    # Update order arrival time
    if order_arrival_time > 0:
        order_arrival_time -= 1

    # Append data to list
    data_list.append({
        'Date': date,
        'Product_ID': 1,  # Assuming Product_ID is 1 for simplicity
        'Demand': demand,
        'Order_Quantity': order_quantity if order_arrival_time == 0 else 0,
        'Order_Arrival_Time': order_arrival_time
    })

# Convert list of dictionaries to DataFrame
data = pd.DataFrame(data_list)

# Convert 'Order_Quantity' and 'Order_Arrival_Time' to integers
data['Order_Quantity'] = data['Order_Quantity'].astype(int)
data['Order_Arrival_Time'] = data['Order_Arrival_Time'].astype(int)

# Display the first few rows of the simulated dataset
print(data.head())

        Date  Product_ID  Demand  Order_Quantity  Order_Arrival_Time
0 2023-01-01           1      15               0                   0
1 2023-01-02           1      18               0                   0
2 2023-01-03           1      13               0                   0
3 2023-01-04           1       5               0                   0
4 2023-01-05           1       3               0                   0

In [19]:
import numpy as np
import pandas as pd
import gym
from gym import spaces
from stable_baselines3 import DQN
from itertools import product
import random

# New Section

In [57]:
import gym
import numpy as np
from gym import spaces

class InventoryEnv(gym.Env):
    def __init__(self, data):
        super(InventoryEnv, self).__init__()
        self.data = data
        self.product_id = 1  # Assuming Product_ID is 1 for the single-product environment
        self.num_days = data['Date'].nunique()

        # Inventory management parameters
        self.initial_inventory = 50
        self.max_order = 50
        self.holding_cost = 1
        self.shortage_cost = 5
        self.order_cost = 2
        self.review_period = 7
        self.lead_time = 2

        # Define action and observation space
        self.action_space = spaces.Discrete(self.max_order + 1)  # Orders can be from 0 to max_order
        self.observation_space = spaces.Box(low=0, high=self.initial_inventory, shape=(1,), dtype=np.int32)

        self.reset()

    def reset(self):
        self.current_day = 0
        self.inventory_level = self.initial_inventory
        self.total_cost = 0
        return np.array([self.inventory_level])

    def step(self, action):
        order_quantity = action
        start_date = pd.Timestamp('2023-01-01')

        arrival_day = self.current_day + self.lead_time
        arrival_day = start_date + pd.DateOffset(days=self.lead_time) + pd.DateOffset(days=self.current_day)


        print(f'action : {action}, arrival_day: {arrival_day}')
        # Update order arrival time
        #if arrival_day < self.num_days:
        old = str(self.data.loc[(self.data['Product_ID'] == self.product_id) & (
                self.data['Date'] == arrival_day), 'Order_Arrival_Time'])
        self.data.loc[(self.data['Product_ID'] == self.product_id) & (
                self.data['Date'] == arrival_day), 'Order_Arrival_Time'] += order_quantity
        updated = str(self.data.loc[(self.data['Product_ID'] == self.product_id) & (
                self.data['Date'] == arrival_day), 'Order_Arrival_Time'])
        print(f'Updated : {updated}, old : {old}')

        # Get the demand for the current day and product from the dataset
        demand_today_row = self.data.loc[(self.data['Product_ID'] == self.product_id) & (
            self.data['Date'] == self.current_day), 'Demand']
        demand_today = demand_today_row.values[0] if not demand_today_row.empty else 0

        # Adjust inventory levels based on demand
        self.inventory_level -= demand_today

        # Add arriving orders to the inventory level
        self.inventory_level = max(self.inventory_level + \
                                  self.data.loc[(self.data['Product_ID'] == self.product_id) & (
                                      self.data['Date'] == self.current_day), 'Order_Arrival_Time'].sum(), 0)

        order_today = self.data.loc[(self.data['Product_ID'] == self.product_id) & (self.data['Date'] == self.current_day), 'Order_Arrival_Time'].sum()

        print(f'order arriving Todat : {order_today}')
        # Calculate and update costs for the day
        holding_costs = self.holding_cost * self.inventory_level
        shortage_costs = self.shortage_cost * max(demand_today - self.inventory_level, 0)
        ordering_costs = self.order_cost * order_quantity
        self.total_cost += holding_costs + shortage_costs + ordering_costs

        self.current_day += 1
        done = self.current_day >= self.num_days
        reward = -self.total_cost

        return np.array([self.inventory_level]), reward, done, {}

    def render(self, mode='human'):
        print(
            f'Day: {self.current_day}, Inventory Level: {self.inventory_level}, Total Cost: {self.total_cost}')

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [58]:
# Check if the necessary columns are present
required_columns = ['Date', 'Product_ID', 'Demand', 'Order_Quantity', 'Order_Arrival_Time']
missing_columns = [col for col in required_columns if col not in data.columns]

if missing_columns:
    raise ValueError(f"Missing columns in the dataset: {missing_columns}")

# Initialize the environment with the synthetic data
env = InventoryEnv(data)

# Verify Observation Space and Action Space
print("Observation space:", env.observation_space)
print("Action space:", env.action_space)

# Run the environment for a few episodes
episodes = 5
for episode in range(1, episodes + 1):
    state = env.reset()
    done = False
    score = 0
    while not done:
        action = env.action_space.sample()
        print(f'action : {action}')
        next_state, reward, done, info = env.step(action)
        score += reward
        # print(f'Next state : {next_state}, Reward : {reward}, done : {done}, info: {info}')
        env.render()
        # print(f"Action taken: {action}, Orders: {env.actions[action]}")
    print(f"Episode: {episode} ended with Score: {score}")

Streaming output truncated to the last 5000 lines.
Day: 15, Inventory Level: 50, Total Cost: 1338
action : 47
action : 47, arrival_day: 2023-01-18 00:00:00
Updated : 17    125
Name: Order_Arrival_Time, dtype: int64, old : 17    78
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 16, Inventory Level: 50, Total Cost: 1482
action : 45
action : 45, arrival_day: 2023-01-19 00:00:00
Updated : 18    90
Name: Order_Arrival_Time, dtype: int64, old : 18    45
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 17, Inventory Level: 50, Total Cost: 1622
action : 13
action : 13, arrival_day: 2023-01-20 00:00:00
Updated : 19    67
Name: Order_Arrival_Time, dtype: int64, old : 19    54
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 18, Inventory Level: 50, Total Cost: 1698
action : 11
action : 11, arrival_day: 2023-01-21 00:00:00
Updated : 20    58
Name: Order_Arrival_Time, dtype: int64, old : 20    47
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 19, Inventory Level: 50, Total Cost: 1770
action : 21
action : 21, arrival_day: 2023-01-22 00:00:00
Updated : 21    69
Name: Order_Arrival_Time, dtype: int64, old : 21    48
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 20, Inventory Level: 50, Total Cost: 1862
action : 40
action : 40, arrival_day: 2023-01-23 00:00:00
Updated : 22    114
Name: Order_Arrival_Time, dtype: int64, old : 22    74
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 21, Inventory Level: 50, Total Cost: 1992
action : 36
action : 36, arrival_day: 2023-01-24 00:00:00
Updated : 23    86
Name: Order_Arrival_Time, dtype: int64, old : 23    50
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 22, Inventory Level: 50, Total Cost: 2114
action : 3
action : 3, arrival_day: 2023-01-25 00:00:00
Updated : 24    71
Name: Order_Arrival_Time, dtype: int64, old : 24    68
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 23, Inventory Level: 50, Total Cost: 2170
action : 14
action : 14, arrival_day: 2023-01-26 00:00:00
Updated : 25    141
Name: Order_Arrival_Time, dtype: int64, old : 25    127
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 24, Inventory Level: 50, Total Cost: 2248
action : 24
action : 24, arrival_day: 2023-01-27 00:00:00
Updated : 26    83
Name: Order_Arrival_Time, dtype: int64, old : 26    59
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 25, Inventory Level: 50, Total Cost: 2346
action : 40
action : 40, arrival_day: 2023-01-28 00:00:00
Updated : 27    59
Name: Order_Arrival_Time, dtype: int64, old : 27    19
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 26, Inventory Level: 50, Total Cost: 2476
action : 12
action : 12, arrival_day: 2023-01-29 00:00:00
Updated : 28    80
Name: Order_Arrival_Time, dtype: int64, old : 28    68
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 27, Inventory Level: 50, Total Cost: 2550
action : 6
action : 6, arrival_day: 2023-01-30 00:00:00
Updated : 29    60
Name: Order_Arrival_Time, dtype: int64, old : 29    54
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 28, Inventory Level: 50, Total Cost: 2612
action : 3
action : 3, arrival_day: 2023-01-31 00:00:00
Updated : 30    107
Name: Order_Arrival_Time, dtype: int64, old : 30    104
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 29, Inventory Level: 50, Total Cost: 2668
action : 47
action : 47, arrival_day: 2023-02-01 00:00:00
Updated : 31    170
Name: Order_Arrival_Time, dtype: int64, old : 31    123
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 30, Inventory Level: 50, Total Cost: 2812
action : 1
action : 1, arrival_day: 2023-02-02 00:00:00
Updated : 32    72
Name: Order_Arrival_Time, dtype: int64, old : 32    71
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 31, Inventory Level: 50, Total Cost: 2864
action : 1
action : 1, arrival_day: 2023-02-03 00:00:00
Updated : 33    88
Name: Order_Arrival_Time, dtype: int64, old : 33    87
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 32, Inventory Level: 50, Total Cost: 2916
action : 33
action : 33, arrival_day: 2023-02-04 00:00:00
Updated : 34    124
Name: Order_Arrival_Time, dtype: int64, old : 34    91
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 33, Inventory Level: 50, Total Cost: 3032
action : 4
action : 4, arrival_day: 2023-02-05 00:00:00
Updated : 35    113
Name: Order_Arrival_Time, dtype: int64, old : 35    109
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 34, Inventory Level: 50, Total Cost: 3090
action : 2
action : 2, arrival_day: 2023-02-06 00:00:00
Updated : 36    59
Name: Order_Arrival_Time, dtype: int64, old : 36    57
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 35, Inventory Level: 50, Total Cost: 3144
action : 17
action : 17, arrival_day: 2023-02-07 00:00:00
Updated : 37    102
Name: Order_Arrival_Time, dtype: int64, old : 37    85
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 36, Inventory Level: 50, Total Cost: 3228
action : 10
action : 10, arrival_day: 2023-02-08 00:00:00
Updated : 38    80
Name: Order_Arrival_Time, dtype: int64, old : 38    70
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 37, Inventory Level: 50, Total Cost: 3298
action : 29
action : 29, arrival_day: 2023-02-09 00:00:00
Updated : 39    73
Name: Order_Arrival_Time, dtype: int64, old : 39    44
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 38, Inventory Level: 50, Total Cost: 3406
action : 12
action : 12, arrival_day: 2023-02-10 00:00:00
Updated : 40    86
Name: Order_Arrival_Time, dtype: int64, old : 40    74
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 39, Inventory Level: 50, Total Cost: 3480
action : 49
action : 49, arrival_day: 2023-02-11 00:00:00
Updated : 41    163
Name: Order_Arrival_Time, dtype: int64, old : 41    114
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 40, Inventory Level: 50, Total Cost: 3628
action : 25
action : 25, arrival_day: 2023-02-12 00:00:00
Updated : 42    47
Name: Order_Arrival_Time, dtype: int64, old : 42    22
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 41, Inventory Level: 50, Total Cost: 3728
action : 38
action : 38, arrival_day: 2023-02-13 00:00:00
Updated : 43    72
Name: Order_Arrival_Time, dtype: int64, old : 43    34
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 42, Inventory Level: 50, Total Cost: 3854
action : 34
action : 34, arrival_day: 2023-02-14 00:00:00
Updated : 44    140
Name: Order_Arrival_Time, dtype: int64, old : 44    106
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 43, Inventory Level: 50, Total Cost: 3972
action : 43
action : 43, arrival_day: 2023-02-15 00:00:00
Updated : 45    97
Name: Order_Arrival_Time, dtype: int64, old : 45    54
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 44, Inventory Level: 50, Total Cost: 4108
action : 6
action : 6, arrival_day: 2023-02-16 00:00:00
Updated : 46    67
Name: Order_Arrival_Time, dtype: int64, old : 46    61
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 45, Inventory Level: 50, Total Cost: 4170
action : 6
action : 6, arrival_day: 2023-02-17 00:00:00
Updated : 47    110
Name: Order_Arrival_Time, dtype: int64, old : 47    104
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 46, Inventory Level: 50, Total Cost: 4232
action : 5
action : 5, arrival_day: 2023-02-18 00:00:00
Updated : 48    50
Name: Order_Arrival_Time, dtype: int64, old : 48    45
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 47, Inventory Level: 50, Total Cost: 4292
action : 11
action : 11, arrival_day: 2023-02-19 00:00:00
Updated : 49    123
Name: Order_Arrival_Time, dtype: int64, old : 49    112
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 48, Inventory Level: 50, Total Cost: 4364
action : 12
action : 12, arrival_day: 2023-02-20 00:00:00
Updated : 50    50
Name: Order_Arrival_Time, dtype: int64, old : 50    38
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 49, Inventory Level: 50, Total Cost: 4438
action : 19
action : 19, arrival_day: 2023-02-21 00:00:00
Updated : 51    148
Name: Order_Arrival_Time, dtype: int64, old : 51    129
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 50, Inventory Level: 50, Total Cost: 4526
action : 19
action : 19, arrival_day: 2023-02-22 00:00:00
Updated : 52    95
Name: Order_Arrival_Time, dtype: int64, old : 52    76
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 51, Inventory Level: 50, Total Cost: 4614
action : 24
action : 24, arrival_day: 2023-02-23 00:00:00
Updated : 53    118
Name: Order_Arrival_Time, dtype: int64, old : 53    94
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 52, Inventory Level: 50, Total Cost: 4712
action : 43
action : 43, arrival_day: 2023-02-24 00:00:00
Updated : 54    90
Name: Order_Arrival_Time, dtype: int64, old : 54    47
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 53, Inventory Level: 50, Total Cost: 4848
action : 40
action : 40, arrival_day: 2023-02-25 00:00:00
Updated : 55    90
Name: Order_Arrival_Time, dtype: int64, old : 55    50
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 54, Inventory Level: 50, Total Cost: 4978
action : 11
action : 11, arrival_day: 2023-02-26 00:00:00
Updated : 56    85
Name: Order_Arrival_Time, dtype: int64, old : 56    74
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 55, Inventory Level: 50, Total Cost: 5050
action : 45
action : 45, arrival_day: 2023-02-27 00:00:00
Updated : 57    149
Name: Order_Arrival_Time, dtype: int64, old : 57    104
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 56, Inventory Level: 50, Total Cost: 5190
action : 7
action : 7, arrival_day: 2023-02-28 00:00:00
Updated : 58    85
Name: Order_Arrival_Time, dtype: int64, old : 58    78
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 57, Inventory Level: 50, Total Cost: 5254
action : 42
action : 42, arrival_day: 2023-03-01 00:00:00
Updated : 59    92
Name: Order_Arrival_Time, dtype: int64, old : 59    50
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 58, Inventory Level: 50, Total Cost: 5388
action : 46
action : 46, arrival_day: 2023-03-02 00:00:00
Updated : 60    117
Name: Order_Arrival_Time, dtype: int64, old : 60    71
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 59, Inventory Level: 50, Total Cost: 5530
action : 7
action : 7, arrival_day: 2023-03-03 00:00:00
Updated : 61    134
Name: Order_Arrival_Time, dtype: int64, old : 61    127
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 60, Inventory Level: 50, Total Cost: 5594
action : 40
action : 40, arrival_day: 2023-03-04 00:00:00
Updated : 62    115
Name: Order_Arrival_Time, dtype: int64, old : 62    75
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 61, Inventory Level: 50, Total Cost: 5724
action : 45
action : 45, arrival_day: 2023-03-05 00:00:00
Updated : 63    166
Name: Order_Arrival_Time, dtype: int64, old : 63    121
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 62, Inventory Level: 50, Total Cost: 5864
action : 32
action : 32, arrival_day: 2023-03-06 00:00:00
Updated : 64    108
Name: Order_Arrival_Time, dtype: int64, old : 64    76
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 63, Inventory Level: 50, Total Cost: 5978
action : 44
action : 44, arrival_day: 2023-03-07 00:00:00
Updated : 65    155
Name: Order_Arrival_Time, dtype: int64, old : 65    111
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 64, Inventory Level: 50, Total Cost: 6116
action : 6
action : 6, arrival_day: 2023-03-08 00:00:00
Updated : 66    113
Name: Order_Arrival_Time, dtype: int64, old : 66    107
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 65, Inventory Level: 50, Total Cost: 6178
action : 44
action : 44, arrival_day: 2023-03-09 00:00:00
Updated : 67    140
Name: Order_Arrival_Time, dtype: int64, old : 67    96
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 66, Inventory Level: 50, Total Cost: 6316
action : 48
action : 48, arrival_day: 2023-03-10 00:00:00
Updated : 68    144
Name: Order_Arrival_Time, dtype: int64, old : 68    96
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 67, Inventory Level: 50, Total Cost: 6462
action : 1
action : 1, arrival_day: 2023-03-11 00:00:00
Updated : 69    77
Name: Order_Arrival_Time, dtype: int64, old : 69    76
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 68, Inventory Level: 50, Total Cost: 6514
action : 41
action : 41, arrival_day: 2023-03-12 00:00:00
Updated : 70    61
Name: Order_Arrival_Time, dtype: int64, old : 70    20
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 69, Inventory Level: 50, Total Cost: 6646
action : 26
action : 26, arrival_day: 2023-03-13 00:00:00
Updated : 71    99
Name: Order_Arrival_Time, dtype: int64, old : 71    73
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 70, Inventory Level: 50, Total Cost: 6748
action : 34
action : 34, arrival_day: 2023-03-14 00:00:00
Updated : 72    115
Name: Order_Arrival_Time, dtype: int64, old : 72    81
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 71, Inventory Level: 50, Total Cost: 6866
action : 45
action : 45, arrival_day: 2023-03-15 00:00:00
Updated : 73    104
Name: Order_Arrival_Time, dtype: int64, old : 73    59
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 72, Inventory Level: 50, Total Cost: 7006
action : 20
action : 20, arrival_day: 2023-03-16 00:00:00
Updated : 74    78
Name: Order_Arrival_Time, dtype: int64, old : 74    58
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 73, Inventory Level: 50, Total Cost: 7096
action : 19
action : 19, arrival_day: 2023-03-17 00:00:00
Updated : 75    45
Name: Order_Arrival_Time, dtype: int64, old : 75    26
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 74, Inventory Level: 50, Total Cost: 7184
action : 15
action : 15, arrival_day: 2023-03-18 00:00:00
Updated : 76    95
Name: Order_Arrival_Time, dtype: int64, old : 76    80
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 75, Inventory Level: 50, Total Cost: 7264
action : 45
action : 45, arrival_day: 2023-03-19 00:00:00
Updated : 77    130
Name: Order_Arrival_Time, dtype: int64, old : 77    85
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 76, Inventory Level: 50, Total Cost: 7404
action : 29
action : 29, arrival_day: 2023-03-20 00:00:00
Updated : 78    103
Name: Order_Arrival_Time, dtype: int64, old : 78    74
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 77, Inventory Level: 50, Total Cost: 7512
action : 31
action : 31, arrival_day: 2023-03-21 00:00:00
Updated : 79    135
Name: Order_Arrival_Time, dtype: int64, old : 79    104
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 78, Inventory Level: 50, Total Cost: 7624
action : 43
action : 43, arrival_day: 2023-03-22 00:00:00
Updated : 80    114
Name: Order_Arrival_Time, dtype: int64, old : 80    71
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 79, Inventory Level: 50, Total Cost: 7760
action : 43
action : 43, arrival_day: 2023-03-23 00:00:00
Updated : 81    130
Name: Order_Arrival_Time, dtype: int64, old : 81    87
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 80, Inventory Level: 50, Total Cost: 7896
action : 22
action : 22, arrival_day: 2023-03-24 00:00:00
Updated : 82    83
Name: Order_Arrival_Time, dtype: int64, old : 82    61
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 81, Inventory Level: 50, Total Cost: 7990
action : 17
action : 17, arrival_day: 2023-03-25 00:00:00
Updated : 83    82
Name: Order_Arrival_Time, dtype: int64, old : 83    65
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 82, Inventory Level: 50, Total Cost: 8074
action : 31
action : 31, arrival_day: 2023-03-26 00:00:00
Updated : 84    120
Name: Order_Arrival_Time, dtype: int64, old : 84    89
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 83, Inventory Level: 50, Total Cost: 8186
action : 6
action : 6, arrival_day: 2023-03-27 00:00:00
Updated : 85    57
Name: Order_Arrival_Time, dtype: int64, old : 85    51
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 84, Inventory Level: 50, Total Cost: 8248
action : 35
action : 35, arrival_day: 2023-03-28 00:00:00
Updated : 86    91
Name: Order_Arrival_Time, dtype: int64, old : 86    56
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 85, Inventory Level: 50, Total Cost: 8368
action : 30
action : 30, arrival_day: 2023-03-29 00:00:00
Updated : 87    107
Name: Order_Arrival_Time, dtype: int64, old : 87    77
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 86, Inventory Level: 50, Total Cost: 8478
action : 26
action : 26, arrival_day: 2023-03-30 00:00:00
Updated : 88    111
Name: Order_Arrival_Time, dtype: int64, old : 88    85
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 87, Inventory Level: 50, Total Cost: 8580
action : 40
action : 40, arrival_day: 2023-03-31 00:00:00
Updated : 89    83
Name: Order_Arrival_Time, dtype: int64, old : 89    43
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 88, Inventory Level: 50, Total Cost: 8710
action : 47
action : 47, arrival_day: 2023-04-01 00:00:00
Updated : 90    134
Name: Order_Arrival_Time, dtype: int64, old : 90    87
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 89, Inventory Level: 50, Total Cost: 8854
action : 11
action : 11, arrival_day: 2023-04-02 00:00:00
Updated : 91    99
Name: Order_Arrival_Time, dtype: int64, old : 91    88
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 90, Inventory Level: 50, Total Cost: 8926
action : 35
action : 35, arrival_day: 2023-04-03 00:00:00
Updated : 92    128
Name: Order_Arrival_Time, dtype: int64, old : 92    93
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 91, Inventory Level: 50, Total Cost: 9046
action : 43
action : 43, arrival_day: 2023-04-04 00:00:00
Updated : 93    134
Name: Order_Arrival_Time, dtype: int64, old : 93    91
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 92, Inventory Level: 50, Total Cost: 9182
action : 23
action : 23, arrival_day: 2023-04-05 00:00:00
Updated : 94    103
Name: Order_Arrival_Time, dtype: int64, old : 94    80
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 93, Inventory Level: 50, Total Cost: 9278
action : 41
action : 41, arrival_day: 2023-04-06 00:00:00
Updated : 95    111
Name: Order_Arrival_Time, dtype: int64, old : 95    70
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 94, Inventory Level: 50, Total Cost: 9410
action : 25
action : 25, arrival_day: 2023-04-07 00:00:00
Updated : 96    145
Name: Order_Arrival_Time, dtype: int64, old : 96    120
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 95, Inventory Level: 50, Total Cost: 9510
action : 2
action : 2, arrival_day: 2023-04-08 00:00:00
Updated : 97    69
Name: Order_Arrival_Time, dtype: int64, old : 97    67
Name: Order_Arrival_Time, dtype: int64
order arriving Todat : 0
Day: 96, Inventory Level: 50, Total Cost: 9564
action : 29
action : 29, arrival_day: 2023-04-09 00:00:00
Updated : 98    73
Name: Order_Arrival_Time, dtype: int64, old : 98    44
Name: Order_Arrival_Time, dtype: int64

In [ ]:
# Load your dataset here
data_path = '/content/synthetic_inventory_data.csv'
data = pd.read_csv(data_path)

# Check if the necessary columns are present
required_columns = ['Date', 'Product_ID', 'Demand', 'Order_Quantity', 'Order_Arrival_Time', 'Inventory_Level', 'Holding_Cost', 'Shortage_Cost', 'Ordering_Cost', 'Total_Cost']
missing_columns = [col for col in required_columns if col not in data.columns]

if missing_columns:
    raise ValueError(f"Missing columns in the dataset: {missing_columns}")

# Initialize the environment with the synthetic data
env = InventoryEnv(data)

# Train the RL model
model = DQN('MlpPolicy', env, verbose=1, device='cpu')
model.learn(total_timesteps=10000)

# Test the RL model
episodes = 10
for episode in range(1, episodes+1):
    state = env.reset()
    done = False
    score = 0

    while not done:
        env.render()
        action = random.choice([0, 1])
        n_state, reward, done, _ = env.step(action)
        score += reward
    print('Episode:{} Score:{}'.format(episode, score))

Using cpu device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.

/usr/local/lib/python3.10/dist-packages/stable_baselines3/common/vec_env/patch_gym.py:49: UserWarning: You provided an OpenAI Gym environment. We strongly recommend transitioning to Gymnasium environments. Stable-Baselines3 is automatically wrapping your environments in a compatibility layer, which could potentially cause issues.
  warnings.warn(